<div class="landing-page" data-test="landing-page">
  <div class="landing-section" data-test="landing-section">
    <div class="landing-container">
      <div class="overlay"></div>
      <app-header></app-header>

      <div class="content">
        <app-dp-logo class="dp-logo" height="15rem" width="15rem"></app-dp-logo>
        <h4 class="short-bio">Designer | Developer | Mentor</h4>
        <q class="quote">Solving problems through Logic and Code.</q>
        <div class="name">
          <p>SURYA RAJ</p>
          <div class="strip"></div>
        </div>

        <span
          (click)="onExploreMeClick()"
          (mouseover)="startTadaAnimation = false"
          [ngClass]="{ 'tada-animation': startTadaAnimation }"
        >
          <button class="special-btn">
            <span>Explore Me</span>
          </button>
        </span>
      </div>

      <app-navigator *ngIf="showNavigator"></app-navigator>
    </div>
  </div>
</div>
