<app-homepage-layout data-test="landing-page">
  <!-- Header Projection -->
  <app-header slot="header"></app-header>

  <!-- Hero Background Overlay -->
  <div slot="hero-bg" class="overlay"></div>

  <!-- Hero Logo Projection -->
  <app-dp-logo slot="hero-logo" class="dp-logo" height="15rem" width="15rem"></app-dp-logo>

  <!-- Semantic Typographies injected into Hero content -->
  <ng-container slot="hero-bio">Designer | Developer | Mentor</ng-container>
  <ng-container slot="hero-quote">Solving problems through Logic and Code.</ng-container>
  <ng-container slot="hero-title">SURYA RAJ</ng-container>

  <!-- Hero Actions -->
  <span
    slot="hero-action"
    (click)="onExploreMeClick()"
    (mouseover)="startTadaAnimation = false"
    [ngClass]="{ 'tada-animation': startTadaAnimation }"
  >
    <button class="special-btn">
      <span>Explore Me</span>
    </button>
  </span>

  <!-- Optional Navigator Overlay -->
  @if (showNavigator) {
    <app-navigator slot="hero-overlay"></app-navigator>
  }
</app-homepage-layout>
