<div class="not-found-container">
  <span class="floating-emoji">🛸</span>
  <span class="floating-emoji">🌠</span>
  <span class="floating-emoji">👾</span>
  <span class="floating-emoji">🌌</span>
  <span class="floating-emoji">💫</span>
  <span class="floating-emoji">🌍</span>
  <span class="floating-emoji">🚀</span>
  <span class="floating-emoji">⭐</span>
  <span class="floating-emoji">🌟</span>
  <span class="floating-emoji">✨</span>

  <h1 title="404 Page Not Found - Surya Raj Portfolio">
    <span class="sr-only">404 Page Not Found - Surya Raj Portfolio</span>
    <span aria-hidden="true">404</span>
  </h1>
  <p>
    Looks like this page took a wrong turn 🚀 and got lost in cyberspace!!<br />
    <span class="sub-text">Let's navigate back to 🏠...</span>
  </p>
  <div class="back-button" (click)="onBackClick()">
    <app-back-icon></app-back-icon>
  </div>
</div>
