@if (isVisible$ | async) {
  <div class="navigator-container" (click)="onNavigatorClick($event)">
    <div class="nav-content">
      <div class="nav-links grid-container" [@slideAnimation]>
        @for (link of navLinks; track link) {
          <div class="nav-item">
            <a
              class="nav-link"
              [routerLink]="!link.external ? link.url : null"
              [href]="link.external ? link.url : null"
              [target]="link.external ? '_blank' : '_self'"
              >
              {{ link.displayName }}
            </a>
          </div>
        }
      </div>
    </div>
  </div>
}
