<div class="profile-card" [@cardAnimation]>
    <div class="profile-image">
      <img src="assets/img/profile.jpg" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <h1>Surya Raj</h1>
      <p>Product Designer & Developer</p>
    </div>
    <div class="social-links" [@linksAnimation]>
      <a href="https://github.com/suryakantamangaraj" class="social-link" target="_blank">
        <img src="assets/icons/github.svg" alt="GitHub">
      </a>
      <a href="https://linkedin.com/in/suryaraj" class="social-link" target="_blank">
        <img src="assets/icons/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
  </div>